$font-family: "Source Sans Pro", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-main: #b1ae80;
$color-alt: #b1ae3f;
$color-alt-dark: #5a5943;
$color-light-gray: #e6e6e6;
$color-dark-gray: #4d4d4d;